@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: "Orbitron", sans-serif;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}
